*{
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.nav-list{
   background-color: darkred;
   display: flex;
   
}
.ul{
    list-style: none;
    display: flex;
    padding-left: 400px;
    height: 100px;
    width: 450px;
    align-items: center;
    gap: 200px;
    font-size: 17px;
    justify-content: center;  
    text-align: center;
    
}
a {
    color: rgb(255, 255, 255);
}
.img {
   width:200px;
}
ul :hover{
    color: rgb(196, 184, 180);
    
}
.home{
    text-align: center;
}
.img2 {
    width: 300px;

}